<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJAsx2XzZXuqJ6eR4I99H6e9p3jlMWWeKTjc8mlzIcN2c6yMdsOKysP6d5A4" crossorigin="anonymous">

</head>

<header>
    <img src="/images/bft_logo.png" alt="Gym Logo" width="120" height="100">
    <p>OUR COMMUNITY</p>
    <p>Link to My Events</p>
    <p>Link to account settings</p>
    <p>Link to logout</p>
</header>

<body>
    
    <div>
        <h1>Community Home</h1>
    </div>

</body>
</html>